.bulletin-board {
    text-align: center;
    background-color: #285a8f;
    width: auto;
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.bulletin {
    width: 100%;
    height: 100%;
}

.bulletin-heading {
    font-size: 2.2rem;
}

.bulletin-heading a {
    color: white !important;
}