@media (prefers-color-scheme: dark) {
    .main {
        background-color: #262626;
        color: white;
    }

    textarea {
        background-color: #262626;
        color: white;
    }

    .calendarcontainer{
        background-color: #262626;
        color: white;
    }
}