html {
    height: 100% !important;
}

body {
    height: 100% !important;
}

#root {
    height: 100%;
}

.main {
    z-index: 1;
    height: 100%;
}

.google-button-container {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.google-button {
    background-color: gainsboro;
    text-align: center;
    align-items: center;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.user-info {
    font-size: 1rem;
    text-align: center;
}

.main-page-header {
    padding: 10px;
    padding-top: 40px;
    font-size: 4rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-page-description {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.main-page-desc-logged-in {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}