.survey-notification-container {
    position: absolute;
    text-align: center;
    background-color: rgb(219, 230, 251);
    color: darkslategrey;
    margin: 0;
    line-height: normal;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    height: 100% !important;
    width: 100% !important;
    z-index: 5;
}

.survey-notification {
    margin: 0;
    padding: 1rem;
    text-align: center;
    width: 100%;
    height: 100% !important;
    min-height: 100%;
}

.survey-container {
    text-align: center;
    color: darkslategrey;
}

.survey-container h1 {
    font-size: 1.8rem;
    padding: 10px;
}

.survey-input-container {
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.survey-input-container p {
    font-size: 1.2rem;
    margin: 0;
}

.survey-input {
    width: 25%;
    max-width: 325px;
    height: 100%;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}