ul, li {
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
    padding-left: 0 !important;
}

.create-task-input-container {
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.create-task-input {
    width: 50%;
    height: 100%;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

.tasks-list-container {
    text-align: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem;
}

.tasks-list {
    text-align: center;
    width: 33.3vw;
}

.task-card {
    text-align: left;
    width: 100%;
    cursor: pointer;
}